<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class='container-fluid header_menu'>
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="content">
                    <form class="text">
                        <input type="text" id="city_name" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" id="submitbtn" value="search">
                    </form>
                    <div class="main_part">
                        <div class="main_top">
                            <p id="day">Monday</p>
                            <p id="date">9 Oct</p>
                        </div>
                        <div class="maininfo">
                            <p id="temp_city">Get Output Hear</p>
                            <div class="maintemp data_hide">
                                <p id="temp"><span id="temp_val">0</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    
    <!-- footer -->
   {{>footer}}

   
<script> 
       const getCurrentDay = () =>{
                let weekday = [
                 "Sunday",
                 "Monday",
                 "Tuesday",
                 "Wednesday",
                 "Thursday",
                 "Friday",
                 "Saturday",
                ];

                let currentTime = new Date();
                let days = weekday[currentTime.getDay()];
                const day = document.getElementById('day');

                day.innerText = days;
            };
        getCurrentDay();


            const getCurrentTime = () =>{
                let month = [
                 "Jan",
                 "Feb",
                 "Mar",
                 "Apr",
                 "May",
                 "Jun",
                 "Jul",
                 "Aug",
                 "Sep",
                 "Oct",
                 "Nov",
                 "Dec", 
                ];

                let now = new Date();
                var c_date = now.getDate();
                var c_month = month[now.getMonth()];
                const date = document.getElementById('date');
                
                date.innerText = `${c_date}  ${c_month}`;
            };
            getCurrentTime();

const city_name = document.getElementById('city_name');
const submitbtn = document.getElementById('submitbtn');
const temp_city = document.getElementById('temp_city');
const temp_val = document.getElementById('temp_val');
const temp_status = document.getElementById('temp_status');
const datahide = document.querySelector('.data_hide');


const getinfo = async(eveent)=>{
    eveent.preventDefault();
    let cityval = city_name.value;
    if(cityval === ''){
        temp_city.innerText = 'Plz enter your city name';
        datahide.classList.add('data_hide');
    }else{
        try{
            let url = `http://api.openweathermap.org/data/2.5/weather?q=${cityval}&units=metric&appid=88ad90172d5def5922c5786162e4c669`
            const response = await fetch(url);
            const data = await response.json();
            const arrdata = [data];
           
            temp_val.innerText = arrdata[0].main.temp;
            temp_city.innerText = `${arrdata[0].name}, ${arrdata[0].sys.country}`;

            const tempmod = arrdata[0].weather[0].main;

            // condition to check tempmod
            if(tempmod == 'Clear'){
                temp_status.innerHTML =
                '<i class="fas fa-sun" style="color: #eccc86;"></i>';
                console.log(tempmod);
            }else if(tempmod == 'Clouds'){
                temp_status.innerHTML = 
                '<i class="fas fa-cloud" style="color: #f1f3f6;"></i>'
                console.log(tempmod);
            }else if(tempmod == 'Rain'){
                temp_status.innerHTML = 
                '<i class="fas fa-cloud-rain" style="color: #a4b0be;"></i>';
                console.log(tempmod);
            }else{
                temp_status.innerHTML = 
                '<i class="fas fa-sun" style="color: #eccc86;"></i>';
                console.log(tempmod);
            }
            datahide.classList.remove('data_hide');

        }catch{
            temp_city.innerText = 'Plz Enter the City Name Properly';
            datahide.classList.add('data_hide');
        }
    }
}

submitbtn.addEventListener('click',getinfo);
</script>
</body>
</html>